@page "/fetchdata"
@using SharedDomain.Data
@using SharedDomain.Entities
@using SharedDomain.Services

<PageTitle>Weather forecast</PageTitle>

@inject IProductsService ProductsService

<h1>Menú</h1>

@if (products == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IReadOnlyCollection<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductsService.GetAllProducts();
    }

}
