@page "/Products"
@using SharedDomain.Data
@using SharedDomain.Entities
@using SharedDomain.Services

<PageTitle>Productos</PageTitle>

@inject IProductsService ProductsService

<h1>Gestión de productos</h1>

@if (_products == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in _products)
        {
            <tr>
                <td>@product.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IReadOnlyCollection<Product>? _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await ProductsService.GetAllProducts();
    }
}
