@page "/Orders"
<PageTitle>Pedidos</PageTitle>
<h1 class="mt-4">Pedidos</h1>

<AuthorizeView Roles="admin">
    <AdminOrdersView></AdminOrdersView>
</AuthorizeView>
<AuthorizeView Roles="cook">
    <CookOrdersView></CookOrdersView>
</AuthorizeView>
<AuthorizeView Roles="waiter">
    <WaiterOrdersView></WaiterOrdersView>
</AuthorizeView>