@page "/"
@using SharedDomain.Services
@using SharedDomain.Entities

<PageTitle>Mesas</PageTitle>

@inject ITablesService TablesService

<h2>Mesas</h2>

@if (_tables == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div class="list-group">
        @foreach (var table in _tables)
        {
            <a href="/Tables/@table.Id" class="list-group-item list-group-item-action">@table.Name</a>
        }
    </div>
}

@code {
    private IReadOnlyCollection<Table>? _tables;

    protected override async Task OnInitializedAsync()
    {
        _tables = await TablesService.GetAllTables();
    }
}
