@inherits LayoutComponentBase

<PageTitle>PublicFrontEnd</PageTitle>

<main class="container">
    <header class="row">
        <div class="col mt-4 mb-2">
            <h1 class="logo">MagnaCarta</h1>
        </div>
    </header>
    <article class="row">
        <div class="col">
            @Body
        </div>
    </article>
</main>
<style>
    body {
       /* background-color: bisque; */
    }
</style>